* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "karla";
}

body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dff1e7;
  color: #2b4246;
  padding: 100px;
}

.success-message {
  position: absolute;
  top: 20px;
  width: 350px;
  height: 100px;
  padding: 15px;
  background: #064f42;
  color: #fff;
  border-radius: 10px;
  z-index: 10000;
  display: none;
}

.success-message div{
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}

.success-message > p {
  margin-top: 10px;
  font-size: .8rem;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#form {
  display: flex;
  flex-direction: column;
}

#form .name-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.name-input .input-box {
  display: flex;
  flex-direction: column;
  width: 49%;
}

input {
  font-size: 1rem;
  outline: none;
  border: 1px solid #707070;
  border-radius: 6px;
  margin-top: 8px;
  padding: 10px 15px;
}

input:focus,
#textarea:focus {
  border-color: #0c7d69;
}

.email-box {
  display: flex;
  flex-direction: column;
}

.email-box {
  margin-bottom: 30px;
}

.query-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.query-checkbox {
  width: 49%;
  display: flex;
  gap: 10px;
  border: 1px solid #707070;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 1.1rem;
  cursor: pointer;
}

.query-checkbox :where(input, label) {
  cursor: pointer;
}

.query-checkbox input {
  accent-color: #0c7d69;
  margin-top: 0;
}

.message-label {
  margin-top: 30px;
}

#message {
  height: 100px;
  margin-bottom: 30px;
}

.user-consent {
  display: flex;
}

#checkbox {
  margin: 0 10px 0 0;
  accent-color: #0c7d69;
}

#message {
  resize: none;
  height: 120px;
  outline: none;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0 30px 0;
}

.input-control .error-box {
  margin-top: 2px;
  color: #d73c3c;
  font-size: 0.8rem;
}

#form button {
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #707070;
  cursor: pointer;
  background-color: #0c7d69;
  color: #fff;
  margin-top: 30px;
  transition: all 0.2s ease-in;
}

#form button:hover {
  background-color: #064f42;
}

.success {
  border-color: #0c7d69;
}

.error {
  border-color: #d73c3c;
}

@media (max-width: 660px) {
  .query-box {
    flex-direction: column;
  }
  .query-checkbox {
    margin-bottom: 10px;
    width: 100%;
  }

  .name-input {
    flex-direction: column;
  }
  .name-input .input-box {
    width: 100%;
  }
}
